extend layout

block content
    form(action='login' method='post')
        h2.text-center Please log in.
        .form-group 
            label(for='username') Username: 
            input.form-control(name='username' type='text')
        .form-group
            label(for='password') Password: 
            input.form-control(name='password' type='password')
        .text-center
            button.btn.btn-primary(type='submit') Log In
            div or 
                a(href='/users/signup') Sign Up.        


    if error
        p= error