extends layout

block content
    form(action='' method='POST')
        h4.text-center New Message
        .form-group
            label(for='title') Title
            input.form-control(type='text' name='title')
        .form-group
            label(for='content') Content
            input.form-control(type='textarea' name='content')
        .text-center
            button.btn.btn-secondary(type='submit') Submit
        
    hr
    if errors 
        ul
            each error in errors
                li!= error.msg