extend layout

block content
    h2 Messages

    ul.message-list
        each message in message_list
            li
                p  
                    a(href=message.url) #{message.title}
                |   
                if user
                    if user.membership === 'member' || user.membership === 'moderator'
                        p= message.author.username
                        p= message.timestamp