body {
  height: 100%;
  background: rgba(32, 32, 32, 0.959);
  color: whitesmoke;
  font-family: "HKGrotesk", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

a {
  color: rgb(226, 226, 226);
  text-shadow: 0.5px 0.5px rgb(68, 48, 29);
  font-size: 1.1em;
}

a:hover {
  color: rgb(167, 156, 143);
  text-decoration: none;
}

.i {
  font-style: italic;
}

/* Navbar */
.navbar {
  background: linear-gradient(rgba(173, 110, 14, 0.774), rgba(212, 160, 29, 0.774));
  box-shadow: 0 0 2px 2px goldenrod;
}

.logo {
  font-family: cursive;
  color: rgb(255, 244, 193);
}

/* Container */
.container-fluid {
  padding: 1em;
}

/* Forms */
form {
  background: rgba(95, 78, 62, 0.767);
  padding: 2em;
  border: 0.5px solid rgba(218, 165, 32, 0.301);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(218, 165, 32, 0.568);
}

.form-control {
  border-radius: 5px;
  border: 0.5px solid goldenrod;
  background: rgb(156, 144, 125);
}

h2 {
  margin-bottom: 0.5em;
}

/* Cards */
.card {
  border: 0.5px solid rgba(124, 94, 19, 0.829);
}

.card-header {
  background-color: rgb(165, 145, 103);
  border-bottom: 0.5px solid rgba(104, 60, 31, 0.521);
}

.card-footer {
  background-color: rgb(68, 60, 51);
  color: goldenrod;
  border-top: 0.5px solid goldenrod;
}

.card-body {
  background: rgba(87, 49, 30, 0.829);
}

.btn-secondary {
  border: 0.5px solid rgba(70, 66, 63, 0.781);
  background-color: rgba(182, 80, 32, 0.774);
}

.btn-secondary:hover {
  background-color: rgb(148, 87, 47);
}

.delete-btn {
  background: none;
  border: none;
}